* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #023047;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #1c013f 65.1%,
    #670c51 100%,
    #e1c3da 100%,
    #530357 100%
  );

  .dragon {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .star {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}

.formLogin {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin-bottom: 6rem;
  padding: 40px;
  gap: 1rem;

  input {
    padding: 15px;
    font-size: 14px;
    border: 0.1rem solid #530357;
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;

    &:focus {
      border: 1px solid #f72585;
    }
  }

  a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    text-align: end;
    transition: all linear 160ms;

    &:hover {
      color: #f72585;
    }
  }

  .btn {
    background-color: #f72585;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    text-transform: uppercase;

    &:hover {
      transform: scale(1.05);
      background-color: #ff0676;
    }
  }
}
