.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  
  .content {
    background-color: #530357;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }

    & .form-group {
      margin-bottom: 15px;
      text-align: left;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 0.5rem 0;
        font-size: 16px;
        border: 0.1rem solid #530357;
        border-radius: 5px;
      }
    }

    button {
      padding: 0.5rem 4rem;
      background-color: #ffd600;
      color: #fff;
      border: 0.2rem solid #cb9406;
      border-radius: 0.8rem;
      font-size: 1.2rem;
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        background-color: #cb9406;
      }
    }
  }
}
